<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{componentes/menu :: header}"></head>

<body class="bg-body-secondary">
    <div th:replace="~{componentes/menu :: menu}"></div>
    <div class="container-fluid mt-5 vh-100">
        <div class="text-center">
            <h2 class="pt-3" th:text="${titulo}"></h2>
            <p>Aca podra consultar toda la informacion acerca de el estado de su membresia</p>
        </div>
        <div class="card border-info col-md-8 offset-md-2 mt-5 p-2">
            <div class="card-header text-center">
                <h4>Consulte su informacion</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/clientes}" class="py-3 gap-3" th:if="${cliente} == null" method="post">
                    <div class="form-group mb-3">
                        <label for="documento" class="form-label">Digite su documento:</label>
                        <input type="number" name="documento" id="documento" class="form-control" placeholder="Cedula"
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary form-control">Enviar</button>
                    </div>
                </form>
                <table th:if="${cliente} != null" class="table table-striped text-center">
                    <caption>Datos del cliente</caption>
                    <thead class="table-primary">
                        <tr>
                            <th>Campos</th>
                            <th>Datos del usuario</th>
                        </tr>
                    </thead>
                    <tbody th:object="${cliente}">
                        <tr>
                            <th>Nombre</th>
                            <th th:text="*{nombre}"></th>
                        </tr>
                        <tr>
                            <th>Apellido</th>
                            <th th:text="*{apellido}"></th>
                        </tr>
                        <tr>
                            <th>Documento</th>
                            <th th:text="*{documento}"></th>
                        </tr>
                        <tr>
                            <th>Telefono</th>
                            <th th:text="*{telefono}"></th>
                        </tr>
                        <tr>
                            <th>Inicio mensualidad</th>
                            <th th:text="*{inicioMensualidad}"></th>
                        </tr>
                        <tr>
                            <th>Expiracion mensualidad</th>
                            <th th:text="*{expiracionMensualidad}"></th>
                        </tr>
                    </tbody>

                </table>
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" th:href="@{/}">
                    Volver al inicio
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <footer th:replace="~{componentes/menu :: footer}"></footer>
</body>

</html>