<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{componentes/menu :: header}"></head>

<body class="bg-body-secondary">
    <div th:replace="~{componentes/menu :: menu}"></div>
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h2 class="pt-3" th:text="${titulo}"></h2>
            <p>Aca podra consultar la informacion de las personas que forman parte del equipo de cd Gym</p>
        </div>
        <div class="card col-md-8 offset-md-2 mt-5 border-info p-2">
            <div class="card-header text-center">
                <h4>Listado</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive mb-3">
                    <table class="table table-striped text-center">
                        <caption>Datos del Empleado</caption>
                        <thead class="table-primary">
                            <tr>
                                <th>Documento</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cargo</th>
                                <th sec:authorize="hasRole('ROLE_GESTOR')">Mas Informacion</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar Empleado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="empleado : ${empleados}">
                                <th th:text="${empleado.documento}"></th>
                                <th th:text="${empleado.nombre}"></th>
                                <th th:text="${empleado.apellido}"></th>
                                <th th:text="${empleado.cargo}"></th>
                                <th sec:authorize="hasRole('ROLE_GESTOR')"><a
                                        th:href="@{/empleado/informacion/{id}(id=${empleado.id})}"
                                        class="link-offset-1">Ver mas...</a>
                                </th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div class="btn-group dropend" th:if="${empleado.cargo} != 'Administrador'">
                                        <a class="link-danger link-offset-1 dropdown-toggle" href="#dropdown"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Eliminar
                                        </a>
                                        <ul class="dropdown-menu" id="dropdown">
                                            <div class="form-control text-center p-3">
                                                <p>¿Estás seguro de que deseas eliminar este usuario? </p>
                                                <a th:href="@{/empleado/eliminar/{id}(id=${empleado.id})}"
                                                    class="btn btn-danger">Eliminar</a>
                                            </div>
                                        </ul>
                                    </div>
                                    <a href="" class="link-danger link-offset-1 link-opacity-50 pe-none"
                                        th:if="${empleado.cargo} == 'Administrador'">Eliminar</a>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" th:href="@{/}">
                    Volver al inicio
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <footer th:replace="~{componentes/menu :: footer}"></footer>
</body>

</html>