<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Listado de Empleados</title>
</head>

<body class="bg-body-secondary">
    <nav th:replace="~{componentes/menu :: menu}"></nav>
    <div class="container-fluid mt-5 vh-100">
        <div class="text-center">
            <h2 class="pt-3">Listado de Empleados</h2>
            <p>Aca podra consultar la informacion de las personas que forman parte del equipo de cd Gym</p>
        </div>
        <div class="card col-md-8 offset-md-2 mt-5 bg-body-tertiary">
            <div class="card-header text-center">
                <h4>Listado</h4>
            </div>
            <div class="card-body">

                <table class="table table-striped text-center">
                    <caption>Datos del Empleado</caption>
                    <thead class="table-primary">
                        <tr>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cargo</th>
                            <th>Mas Informacion</th>
                            <th>Eliminar Empleado</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empleado : ${empleados}">
                            <th th:text="${empleado.documento}"></th>
                            <th th:text="${empleado.nombre}"></th>
                            <th th:text="${empleado.apellido}"></th>
                            <th th:text="${empleado.cargo}"></th>
                            <th><a th:href="@{/empleado/{id}(id=${empleado.id})}" class="link-offset-1">Ver mas...</a>
                            </th>
                            <th>
                                <div class="btn-group dropend" th:if="${empleado.cargo} != 'Administrador'">
                                    <a  class="link-danger link-offset-1 dropdown-toggle" href="#dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                      Eliminar
                                    </a>
                                    <ul class="dropdown-menu" id="dropdown">
                                        <div class="form-control text-center p-3">
                                            <p>¿Estás seguro de que deseas eliminar este usuario? </p>
                                            <a th:href="@{/empleado/eliminar/{id}(id=${empleado.id})}"  class="btn btn-danger">Eliminar</a>
                                        </div>
                                    </ul>
                                  </div>
                                <a href="" class="link-danger link-offset-1 link-opacity-50 pe-none"
                                    th:if="${empleado.cargo} == 'Administrador'">Eliminar</a>
                            </th>
                        </tr>
                    </tbody>

                </table>
                <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" th:href="@{/}">
                    Volver al inicio
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous">
	</script>
</body>

</html>