<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{componentes/menu :: header}"></head>

<body class="bg-black bg-gradient">
	<nav th:replace="~{componentes/menu :: menu}"></nav>
	<h1>Probandooooooooooooooooooo!</h1>
	<div class="container-fluid vh-100">
		<div th:object="${usuario}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each=" err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:if="${usuario} != null" th:action="@{/login}" th:object="${usuario}" method="post" 
			class="col-md-6 offset-md-3 bg-body-tertiary px-4 my-5 h-50 d-flex flex-column 
			justify-content-center gap-3 border rounded">
			<h3 class="text-center " th:text="${titulo}"></h3>
			<div class="mb-3">
				<label for="username" class="form-label">Username:</label>
				<input type="text" class="form-control" id="username" th:field="*{username}" required>

			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password:</label>
				<input type="password" class="form-control" id="password" th:field="*{password}" required>
			</div>
			<div class="d-flex justify-content-around  align-items-center">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"
					th:href="@{/registro}">
					Registrarse
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
					</svg>
				</a>
			</div>
		</form>
	</div>
	<footer th:replace="~{componentes/menu :: footer}"></footer>
</body>

</html>