<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{componentes/menu :: header}"></head>

<body class="bg-body-secondary">
	<div th:replace="~{componentes/menu :: menu}"></div>
	<div class="container-fluid vh-100">
		<form th:if="${usuario} == null" th:action="@{/validarRegistro}" method="post"
			class="col-md-6 offset-md-3 bg-body-tertiary p-4 my-5 min-h-50 d-flex flex-column justify-content-center 
			gap-3 border border-info rounded">
			<h3 class="text-center" th:text="${titulo}"></h3>
			<p>Para registrarse debe pertecer a la lista de empleados del gimnasio. por favor digite su número de
				identificación para comprobar que es parte del equipo de CD Gym.</p>
			<div class="mb-3">
				<label for="inputCC" class="form-label">Número de cedula:</label>
				<input type="number" class="form-control" id="inputCC" name="documento">
			</div>

			<div class="d-flex justify-content-around  align-items-center">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"
					th:href="@{/login}">
					Iniciar sesión
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
					</svg>
				</a>
			</div>
		</form>
		<form th:if="${usuario} != null" th:action="@{/registro}" th:object="${usuario}" method="post"
			class="col-md-6 offset-md-3 bg-body-tertiary p-4 my-5 min-h-50 d-flex flex-column justify-content-center gap-3 border rounded">
			<h3 class="text-center">Registro</h3>
			<div>
				<label class="form-label">Número de cedula:</label>
				<input type="text" th:field="*{empleado}" hidden>
				<span class="form-control " th:text="*{empleado.documento}" readonly></span>
			</div>
			<div>
				<label for="inputName" class="form-label">Username:</label>
				<input type="text" class="form-control" id="inputName" th:field="*{username}">
			</div>
			<div>
				<label for="inputPassword" class="form-label">Contraseña:</label>
				<input type="text" class="form-control" id="inputPassword" th:field="*{password}">
			</div>

			<div class="d-flex justify-content-around  align-items-center">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;"
					th:href="@{/login}">
					Iniciar sesión
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-arrow-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
					</svg>
				</a>
			</div>
		</form>
	</div>
	<footer th:replace="~{componentes/menu :: footer}"></footer>
</body>

</html>